@media screen and (max-width: 480px) {
  .agenda {
    background-color: var(--fundo);
  }
  
  .agenda-dia {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 10px 0 20px 0;
  }
  
  .agenda-dia-titulo {
    font-size: 16px;
    font-weight: 700;
    color: var(--preto);
    padding: 10px 0;
  }
  
  .agenda-dia-card {
    height: 170px;
    border-radius: 8px;
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
  }
  
  .agenda-dia-card-perfil {
    display: flex;
    padding: 15px;
  }
  
  .agenda-dia-card-perfil-imagem {
    width: 32px;
    border-radius: 32px;
  }
  
  .agenda-dia-card-perfil-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 15px;
    width: 85%;
  }
  
  .agenda-dia-card-perfil-info-nome {
    font-size: 14px;
    font-weight: 700;
    color: var(--preto);
  }
  
  .agenda-dia-card-perfil-info-tipo {
    font-size: 12px;
    font-weight: 400;
    color: var(--cinza);
  }
  
  .agenda-dia-card-perfil-info-tipo-icone {
    margin-right: 5px;
  }
  
  .agenda-dia-card-perfil-chat {
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 28px;
    border-radius: 32px;
  }
  
  .agenda-dia-card-conteudo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    border-top: 1px solid #ececec;
  }
  
  .agenda-dia-card-conteudo-tempo {
    font-size: 12px;
    font-weight: 500;
    color: var(--preto);
  }
  
  .agenda-dia-remota-conteudo-botoes {
    display: flex;
    gap: 25px;
  }
  
  .agenda-dia-remota-conteudo-botoes-video,
  .agenda-dia-remota-conteudo-botoes-audio {
    width: 139px;
    padding: 1.2em;
    border-radius: 8px;
  }
  
  .agenda-dia-remota-conteudo-botoes-video {
    background-color: var(--laranja);
    border: none;
    color: var(--branco);
    font-size: 14px;
    font-weight: 500;
  }
  
  .agenda-dia-remota-conteudo-botoes-audio {
    background-color: var(--branco);
    border: 1px solid #ececec;
    color: var(--preto);
    font-size: 14px;
    font-weight: 500;
  }
  
  .agenda-dia-local-conteudo-botao {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    color: var(--branco);
    background-color: var(--azul);
    border: none;
    border-radius: 8px;
    padding: 1.2em;
  }
}